/* ThorVG Viewer Michal Maciola 2021 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
}
body {
	color: #484848;
	background-color: #f6f6f6;
	font: 15px/1.5 'Open Sans', sans-serif;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	display: flex;
	flex-flow: row nowrap;
	user-select: none;
	-webkit-user-select: none;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
	transition: all 0.4s ease;
}
::selection {
	color:#fff;
	background:#1BA1C7;
}
hr {
	border: none;
	height: 1px;
	color: #333;
	background-color: #e5e7ec;
}
input[type=range] {
	-webkit-appearance: none;
	height: 5px;
	border-radius: 3px;
	background-color: #5a8be4;
	outline: none;
}
input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0 0 3px #666;
	background-color: #fff;
	cursor: pointer;
}
input[type=range]::-moz-range-thumb {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0 0 3px #666;
	background-color: #fff;
	cursor: pointer;
}
.toggle input {
	opacity: 0;
	width: 0;
	height: 0;
	float: left;
}
.toggle span {
	position: relative;
	display: block;
	background-color: #e5e7ec;
	width: 42px;
	height: 23px;
	border-radius: 11px;
	transition: all 0.4s ease;
	cursor: pointer;
	margin: 0 auto;
}
.toggle input:checked + span {
	background-color: #5a8be4;
}
.toggle span:before {
	position: absolute;
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 50%;
	box-shadow: 0 0 3px #666;
	background-color: #fff;
	top: 4px;
	left: 4px;
	transition: all 0.2s;
}
.toggle input:checked + span:before {
	transform: translateX(19px);
}

aside {
	background-color: #fdfdfd;
	border-left: 1px solid #e5e7ec;
	width: 380px;
	flex-basis: 380px;
	height: 100%;
	padding-left: 64px;
	position: relative;
}
aside.hidden {
	width: 64px;
	flex-basis: 64px;
}
aside > nav {
	width: 64px;
	height: 100%;
	left: 0;
	position: absolute;
	border-right: 1px solid #e5e7ec;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}
aside > nav .bottom-nav {
	margin-top: auto;
}
aside > nav a {
	display: block;
	color: #aab3bb;
}
aside > nav a.active {
	color: #484848;
}
aside > nav a:hover {
	color: #38435a;
	background-color: #f1f4f7;
}
aside > nav a > .fa {
	padding: 16px;
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	display: block;
}
aside > nav label {
	display: block;
	margin-bottom: 12px;
}
aside > div {
	height: 100%;
	padding-top: 65px;
	position: relative;
	overflow: hidden;
}
aside > div > #aside-top {
	top: 0;
	width: 100%;
	height: 65px;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e7ec;
	position: absolute;
}
#zoom-slider-container {
	width: 60%;
	position: absolute;
	padding-left: 8px;
	top: 19px;
}
#aside-top #zoom-slider {
	width: 100%;
}
#aside-top #zoom-value {
	width: 40%;
	left: 60%;
	position: absolute;
	line-height: 48px;
	padding: 8px;
	text-align: center;
}
aside > div > div.tab {
	overflow-y: scroll;
	height: 100%;
	display: none;
	position: relative;
}
aside > div > div.tab.active {
	display: block;
}
aside > div > div.tab .hidden {
	display: none;
}

.layer {
	position: relative;
	height: 48px;
	line-height: 32px;
	padding: 8px 8px 8px 64px;
}
#layers .layer {
	cursor: pointer;
}
#layers .layer:hover, .line:hover {
	background-color: #f1f4f7;
}
.layer > .caret {
	position: absolute;
	width: 32px;
	line-height: 32px;
	margin-left: -64px;
	top: 8px;
	text-align: center;
}
.layer > .icon {
	position: absolute;
	width: 24px;
	line-height: 32px;
	margin-left: -32px;
	top: 8px;
	text-align: center;
}
.layer > .visibility {
	position: absolute;
	width: 24px;
	line-height: 32px;
	right: 8px;
	top: 8px;
	text-align: center;
	font-size: 20px;
	color: #777;
}
.layer > .depthSpan {
	position: absolute;
	left: 8px;
	line-height: 32px;
	font-size: 11px;
}
.layer.composite::before {
	content: "";
	display: block;
	background: #484848;
	position: absolute;
	margin-left: -20px;
	height: 24px;
	width: 1px;
	top: -12px;
}

#properties .layer {
	padding: 8px 8px 8px 40px;
}
.line {
	display: block;
	padding: 6px 12px;
}
.line-title {
	display: block;
	font-size: 13px;
}

aside > div > div .header {
	padding: 12px 12px 0px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
	color: #909090;
}

#files-list .line {
	cursor: pointer;
	position: relative;
}
#files-list .trash {
	position: absolute;
	width: 24px;
	line-height: 34px;
	right: 8px;
	top: 8px;
	text-align: center;
	font-size: 20px;
	color: #777;
}

.line-details {
	display: block;
	font-size: 13px;
}

.placeholder {
	text-align: center;
	position: absolute;
	top: 45%;
	padding: 0 8px;
	margin-top: -32px;
}

section {
	flex: 1 1 0;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
section .hidden {
	display: none;
}
body.dark-mode section {
	background-color: #1b2124;
	color: #f6f6f6;
}
#drop-area.highlight {
	background-color: #272f34;
	color: #f6f6f6;
}
#image-placeholder {
	text-align: center;
}
#image-file-selector {
	display: none;
}